.news .menu {
  min-width: 228.750px;
}

.news .menu a.item {
  height: 150px;
  max-height: 150px;
  overflow: hidden;
}

.news .menu .pagination {
  min-width: 0px;
}

.news .ui.column.four.wide {
  min-width: 240px;
}

.news .ui.column.twelve.wide {
  width: calc(100% - 300px) !important;
  min-width: 200px !important;
}

.news .ui.column.twelve.wide div.content {
  max-height: 600px;
  overflow: scroll;
  margin-bottom: 25px;
}

